body {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: bold;
}

section {
  transition: background-color 0.3s ease-in-out;
}

section:hover {
  background-color: #f9f9f9;
}

section {
  scroll-margin-top: 90px; /* Adjust based on navbar height */
}